/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
/* Font families and styles */

/* text generation */
.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  /* prompt enginering */
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* Embeddings */
  .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }
/* Text To Speech */
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Speech To Text */
.caveat-uniquifier {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* Introduction */
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
/* image generation */
.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
} 
/* fine tuning */
.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}

.mr-dafoe-regular {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
}  
/* Vision */
.short-stack-regular {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}

.amita-regular {
    font-family: "Amita", serif;
    font-weight: 400;
    font-style: normal;
}
  
.amita-bold {
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
}

.mrs-saint-delafield-regular {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
}
/*Order List Fine-Tuning  */
.order-list-fine-tuning {
    list-style: decimal;
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
    /* line-break: auto; */
}
/* unorder-list-fine-tuning */
.unorder-list-fine-tuning{
    list-style: disc;
    font-family: "Amita", serif;
    font-weight: 700;
    font-style: normal;
}



/* Default Styles */
body {
      background-image: url("image/background\ \(1\).jpg");
      color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    font-family: Arial, sans-serif;
    /* background: rgb(0,0,0);
    /* background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.908000700280112) 21%, rgba(0,0,0,0.6979166666666667) 41%, rgba(10,0,0,0.639093137254902) 57%); */
    /* background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% ); */
    /* color: #fff; */
}

/* Headings */
/* Main headings and subheadings */
.heading-1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategrey;
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration:underline;
    text-shadow: #666;
    text-transform:uppercase;
}

.heading-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(4, 0, 255);
    font-size: 45px;
    font-style: italic;
    text-align: center;
    text-decoration:underline;
    text-shadow: #e2d5d5;
    text-transform:uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

/* Paragraphs */
.para {
    margin: 5px 10% 10px 10%;      
    font-size: 35px;
    color: white;
}

/* Headers */
/* Styling for header elements */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
}

/* Navigation */
/* Styles for navigation elements */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #f0f0f0;
}

/* Banner */
/* Styles for banner */
.banner {
    height: fit-content;
    text-align: center;
    padding: 20% 0;
    background-image: url("image/banner-image.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 40px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner .btn {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.banner .btn:hover {
    background-color: #1202ec;
}

/* Cards */
/* Styles for card elements */
.item-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
    color: #666;
}

/* Buttons */
/* Styles for buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:violet;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color:#0056b3;
}

/* Contact Page */
/* Styles for contact page */
.contact {
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    flex: 0.7;
    max-width: 600px;
    margin-right: 20px;
}

.map-container {
    flex: 0.7;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group country,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
}

/* Media Query Styling */
@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px */
    .map-container,
    .form-container {
        flex: 1;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    /* Styles for screens up to 480px (Mobile) */
    .banner h2 {
        font-size: 24px;
    }
}


.container{
    text-align:center;
    /* display: flex; */
    flex: 20px;
    list-style: none;
    justify-content: center;
    padding: 10px 10px;
    align-items: stretch;

}

.social-icons {
    /* margin: 10px 10% 10px 10px; Adjust margin as needed */
    display: inline-block;
    box-sizing: border-box;
}

/* copyright Styling */
#copyright {
    /* margin: 10px 10% 10px 10px; Adjust margin as needed */
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
}

/* Title Styling */
#title {
    color:white;
    font-weight: bold;
}
